<h1>Lista de productos</h1>

<div class="products">
    {{#each productos}}
        <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">Description: {{description}}</p>
                    <p class="card-text">Code: {{code}}</p>
                    <p class="card-text">Category: {{category}}</p>
                    <p class="card-text">Price: ${{price}}</p>
                    <p class="card-text">Stock: {{stock}}</p>
                    <button type="button" class="btn btn-primary">Añadir al carrito</button>
                </div>
        </div>    
    {{/each}}
</div>
    